asgiref==3.7.2
certifi==2023.5.7
Django==4.2.3
django-environ==0.10.0
djangorestframework==3.14.0
environ==1.0
Pillow==10.0.0
psycopg2==2.9.6
psycopg2-binary==2.9.6
pytz==2023.3
sentry-sdk==1.28.1
sqlparse==0.4.4
urllib3==2.0.3
xhtml2pdf==0.2.11
